doctype 5
html
  head
    title= "Hot Pie - " + title 
    link(rel='stylesheet', href='/stylesheets/#{stylesheet}.css')
  body
    #header
      h1= title


    
    if message["error"]
      p.flash(class="error")
        = message["error"]

    if message["note"]
      p.flash(class="info")
        = message["note"]

    block content
        