extend ../../../views/layout

block content
  form(action='/sessions', method='post')
    label
      | Username
      input(type='text', name='user')
    label
      | password
      input(type='password', name='password')
    input(type='submit', name='submit')